<launch>
<arg name="landmark_name_file"   default="$(find landmark_map_builder)/landmark/name.yaml"/>
<arg name="landmark_record_file" default="$(find landmark_map_builder)/landmark/landmark_ver3.yaml"/>

<node pkg="landmark_map_builder" type="record_landmark_node" name="record_landmark_node" output="screen">
    <param name="landmark_name_file" value="$(arg landmark_name_file)"/>
    <param name="landmark_record_file" value="$(arg landmark_record_file)"/>
</node>
</launch>